# Tuples

A tuple is another useful container. It's a data type for immutable ordered sequences of elements. They are often used to store related pieces of information. Consider this example involving latitude and longitude:

In [3]:
location = (13.4125, 103.866667)
print('latitude: ', location[0])
print('longitude: ', location[1])

latitude:  13.4125
longitude:  103.866667

Tuples are similar to lists in that they store an ordered collection of objects which can be accessed by their indices. Unlike lists, however, tuples are immutable - you can't add and remove items from tuples, or sort them in place.

Tuples can also be used to assign multiple variables in a compact way.

In [4]:
dimension = 30, 40, 100
length, width, height = dimension
print("The dimensions are {} x {} x {}.".format(length,width,height))

The dimensions are 30 x 40 x 100.

Three variables are assigned from the content of the tuple dimensions. This is called tuple unpacking. You can use tuple unpacking to assign the information from a tuple into multiple variables without having to access them one by one and make multiple assignment statements.

In [6]:
tuple_a = 1, 2
tuple_b = (1, 2)

print(tuple_a == tuple_b)
print(tuple_a[1])

True
2

# Sets

A set is a data type for mutable unordered collections of unique elements. One application of a set is to quickly remove duplicates from a list.

In [7]:
numbers = [1, 2, 3, 3, 7, 6, 5, 6, 8, 9]
set(numbers)

{1, 2, 3, 5, 6, 7, 8, 9}

In [10]:
fruit = {"apple", "banana", "carrot", "orange"}
fruit.add("grapes")
fruit

{'apple', 'banana', 'carrot', 'grapes', 'orange'}

In [13]:
fruit.pop()
fruit

{'banana', 'carrot', 'orange'}